Repository antarctica/bas-metadata-standards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, publish-resources-stage, publish-resources-prod, publish-docs-stage

.gitlab-ci.yml:

---

include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'

stages:
  - üèó build
  - üöö publish

variables:
  # Secrets (set in GitLab CI/CD settings)
  # - AWS IAM id/secret key for 'bas-gitlab-ci-bas-metadata-standards' user
  #   - AWS_ACCESS_KEY_ID: "[Sensitive]"
  #   - AWS_SECRET_ACCESS_KEY: "[Sensitive]"

  # Publishing
  S3_RESOURCES_BUCKET_STAGE: metadata-resources-testing.data.bas.ac.uk
  S3_RESOURCES_BUCKET_PROD: metadata-resources.data.bas.ac.uk
  S3_DOCS_BUCKET_STAGE: metadata-standards-testing.data.bas.ac.uk
  S3_DOCS_BUCKET_PROD: metadata-standards.data.bas.ac.uk

image:
  name: governmentpaas/awscli:latest
  entrypoint: [""]

build:
  stage: üèó build
  needs: []
  image: ghcr.io/astral-sh/uv:0.9.9-python3.14-trixie-slim
  before_script:
    - 'cd site/'
    - 'uv --version'
    - 'uv sync --all-groups'
  script:
    - 'uv run python src/build.py'
  artifacts:
    paths:
      - site/build
    expire_in: 1 month
  rules:
    -
      changes:
        - 'site/**/*.*'

publish-resources-stage:
  stage: üöö publish
  needs: []
  script:
    - "aws s3 sync resources/ s3://$S3_RESOURCES_BUCKET_STAGE/ --exclude '_site/*' --exclude '*/_site/*'"
    - "aws s3 sync resources/_site/ s3://$S3_RESOURCES_BUCKET_STAGE/"
  environment:
    name: resources-testing
    url: "http://$S3_RESOURCES_BUCKET_STAGE"
  rules:
    -
      changes:
        - 'resources/**/*.*'
      if: '$CI_COMMIT_BRANCH != "main" && $CI_COMMIT_TAG == null'

publish-resources-prod:
  stage: üöö publish
  needs: []
  script:
    - "aws s3 sync resources/ s3://$S3_RESOURCES_BUCKET_PROD/ --exclude '_site/*' --exclude '*/_site/*'"
    - "aws s3 sync resources/_site/ s3://$S3_RESOURCES_BUCKET_PROD/"
  environment:
    name: resources-prod
    url: "http://$S3_RESOURCES_BUCKET_PROD"
  rules:
    - changes:
        - 'resources/**/*.*'
      if: $CI_COMMIT_TAG

publish-docs-stage:
  stage: üöö publish
  needs:
    - job: build
      artifacts: true
  script:
    - "aws s3 sync site/build/ s3://$S3_DOCS_BUCKET_STAGE/ --delete"
  environment:
    name: docs-testing
    url: "http://$S3_DOCS_BUCKET_STAGE"
  rules:
    -
      changes:
        - 'site/**/*.*'
      if: '$CI_COMMIT_BRANCH != "main" && $CI_COMMIT_TAG == null'

Adding tailwind styling
  site/pyproject.toml
  site/src/build.py
  site/src/fonts/open-sans-italic.ttf
  site/src/fonts/open-sans.ttf
  site/src/styles/main.css.j2
  site/src/templates/layout.html
  site/uv.lock
Due: build, publish-docs-stage

Updating site templates
  site/src/templates/footer.html
  site/src/templates/header.html
  site/src/templates/layout.html
  site/src/templates/sidebar.html
Due: build, publish-docs-stage

Updating site pages
  site/src/pages/index.md
  site/src/pages/profiles/magic-discovery/latest.html
  site/src/pages/profiles/magic-discovery/v1.md
  site/src/pages/profiles/magic-discovery/v2.md
  site/src/pages/standards/iso-19115-19139.md
Due: build, publish-docs-stage

Improving site layouts
  site/src/app.py
  site/src/build.py
  site/src/img/apple-touch-icon.png
  site/src/img/favicon-192.png
  site/src/img/favicon-512.png
  site/src/img/favicon-mask.png
  site/src/img/favicon.ico
  site/src/img/favicon.svg
  site/src/pages/legal/accessibility.md
  site/src/pages/legal/cookies.md
  site/src/pages/legal/copyright.md
  site/src/pages/legal/privacy.md
  site/src/templates/footer.html
  site/src/templates/layout.html
  site/src/txt/heartbeat.txt
  site/src/txt/manifest.webmanifest
Due: build, publish-docs-stage

Adding code formatting
  site/pyproject.toml
  site/src/app.py
  site/src/build.py
  site/uv.lock
Due: build, publish-docs-stage

Updating docs
  README.md
Due: none

Adding docs site production deployment
  .gitlab-ci.yml
  provisioning/terraform/terraform.tf
Due: none

Updating change log
  CHANGELOG.md
Due: none

Adding missing media types
  CHANGELOG.md
  resources/media-types/application/fpl+xml/index.html
  resources/media-types/application/gpx+xml/index.html
  resources/media-types/x-service/arcgis+layer+tile+raster/index.html
  resources/media-types/x-service/arcgis+service+tile+raster/index.html
  site/src/pages/resources/media-types.md
Due: build, publish-resources-stage, publish-resources-prod, publish-docs-stage

Adding missing MAGIC products licence
  CHANGELOG.md
  resources/licences/magic-products-v1/index.html
  site/src/pages/resources/licences.md
Due: build, publish-resources-stage, publish-resources-prod, publish-docs-stage

Adding initial magic administrative profile
  CHANGELOG.md
  site/src/pages/index.md
  site/src/pages/profiles/magic-administrative/latest.html
  site/src/pages/profiles/magic-administrative/v1.md
  site/src/templates/sidebar.html
Due: build, publish-docs-stage

Improve magic discovery v2
  CHANGELOG.md
  site/src/build.py
  site/src/pages/profiles/magic-discovery/v2.md
Due: build, publish-docs-stage

Improve documentation site
  site/src/pages/profiles/magic-administrative/v1.md
  site/src/pages/profiles/magic-discovery/v1.md
  site/src/pages/profiles/magic-discovery/v2.md
  site/src/pages/resources/licences.md
  site/src/pages/resources/media-types.md
  site/src/templates/header.html
Due: build, publish-docs-stage

Refactoring site module
  CHANGELOG.md
  README.md
  provisioning/terraform/.terraform.lock.hcl
  provisioning/terraform/docker-compose.yaml
  provisioning/terraform/main.tf
  provisioning/terraform/modules/static-site-iam/main.tf
  provisioning/terraform/modules/static-site-iam/variables.tf
  provisioning/terraform/modules/static-site-iam/versions.tf
  provisioning/terraform/modules/static-site/main.tf
  provisioning/terraform/modules/static-site/vars.tf
  provisioning/terraform/modules/static-site/versions.tf
  provisioning/terraform/terraform.tf
Due: none

Updating language in internal licences
  resources/licences/all-rights-reserved-v1/index.html
  resources/licences/magic-products-v1/index.html
Due: publish-resources-stage, publish-resources-prod

Removing pre-release information
  CHANGELOG.md
  site/src/pages/index.md
  site/src/pages/profiles/magic-administrative/latest.html
  site/src/pages/profiles/magic-administrative/v1.md
  site/src/pages/profiles/magic-discovery/latest.html
  site/src/pages/profiles/magic-discovery/v1.md
  site/src/pages/profiles/magic-discovery/v2.md
  site/src/templates/sidebar.html
Due: build, publish-docs-stage

Preparing for release
  CHANGELOG.md
  LICENSE.md
  README.md
Due: none

Minor correction
  site/src/pages/profiles/magic-discovery/v1.md
Due: build, publish-docs-stage

Restoring pre-release information
  CHANGELOG.md
  site/src/pages/index.md
  site/src/pages/profiles/magic-administrative/latest.html
  site/src/pages/profiles/magic-administrative/v1.md
  site/src/pages/profiles/magic-discovery/v1.md
  site/src/pages/profiles/magic-discovery/v2.md
  site/src/templates/sidebar.html
Due: build, publish-docs-stage

Fixing typo in discovery profile
  site/src/pages/profiles/magic-discovery/v2.md
Due: build, publish-docs-stage

Updating administration profile
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Using administration consistently
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Updating administration profile content model
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Improving administration profile conventional permissions
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Updating supplemental info property for administration profile
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Updating reviewer links
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Tidying up
  site/src/pages/profiles/magic-administrative/v1.md
Due: build, publish-docs-stage

Adding examples of administration metadata JWE/JWTs
  site/src/pages/profiles/magic-administration/v1.md
Due: build, publish-docs-stage

Fixing references to administration profile
  site/src/pages/index.md
  site/src/pages/profiles/magic-administration/latest.html
  site/src/pages/profiles/magic-discovery/v2.md
  site/src/templates/sidebar.html
Due: build, publish-docs-stage

Preparing for release
  CHANGELOG.md
  site/src/pages/profiles/magic-administration/v1.md
  site/src/pages/profiles/magic-discovery/v2.md
Due: build, publish-docs-stage

Revising MAGIC discovery profile
  CHANGELOG.md
  site/src/pages/profiles/magic-discovery/v2.md
Due: build, publish-docs-stage

Preparing for release
  CHANGELOG.md
Due: none

Update media types
  CHANGELOG.md
  resources/media-types/application/geo+pdf/index.html
  resources/media-types/image/geo+tiff/index.html
  site/src/pages/resources/media-types.md
Due: build, publish-resources-stage, publish-resources-prod, publish-docs-stage
